<!DOCTYPE html>
<html>
  <head>
    <title>JSON contatos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Limpar contatos</h1>
    <p> Tem certeza que deseja excluir todos os contatos?</p>
    <form method="POST" action="/limpar">
        <button type="submit">Sim</button>
      </form>
      <a href="/"><button>
        Não
      </button></a>
  </body>
</html>
