<!DOCTYPE html>
<html>
  <head>
    <title>JSON contatos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Lista de contatos com JSON no servidor</h1>
    <form method="POST" action="/"> Insira os dados do novo contato:
      <input type="text" name="nome" placeholder="nome"</input>
      <input type="text" name="tel" placeholder="tel"</input>
      <input type="text" name="email" placeholder="email"</input>
    <a href="/"><button>
      Cancelar
    </button></a>
    
      <button type="submit">Salvar</button>
    </form>

  </body>
</html>
